{% extends "layout.html" %}
{% block content %}
    <a name="about"><h2>Definições</h2></a>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <p class="article-content">
        <h5><a class="anchor" name="irr">IRR (com default)</a></h5>
        Taxa interna de retorno do somatório de cashflows das dívidas, considerando os eventos aleatórios de default.
    <p class="article-content">
        <h5><a class="anchor" name="irr_semdefault">IRR (sem default)</a></h5>
        Taxa interna de retorno do somatório de cashflows das dívidas, considerando default nulo.
    <p class="article-content">

    </p>
{% endblock content %}